{% extends "Echo_app/base.html" %}
{% load static %}

{% block title %}Echo Games - Jogo da Forca{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Echo_app/css/jogo_da_forca.css' %}?v={% now 'U' %}">
{% endblock %}

{% block content %}
<div class="hangman-container">
    <h1>Jogo da Forca</h1>
    
    <div class="game-wrapper">
        
        <div class="display-feedback-area">
            
            <div class="hangman-drawing">
                <img id="hangman-image" 
                     src="{% static 'Echo_app/images/forca1.jpeg' %}" 
                     alt="Desenho da Forca" 
                     class="hangman-img-display">
            </div>

            <div class="game-messages">
                <p id="message-display"></p>
            </div>
        </div>

        <div class="input-area">
            
            <div class="game-info wide-theme">
                <p class="game-theme">Tema: <span id="tema-display-word"></span>
                    
                    <button id="show-hint-button" class="hint-button" title="Mostrar Dica">
                        💡
                    </button>
                </p>
                
                <p id="hint-text" class="hidden-hint">
                    <span id="tema-display-hint"></span>
                </p>
            </div>
            
            <div class="word-display" id="word-display">
                </div>
            
            <div class="keyboard-container" id="keyboard-container">
                </div>
            <button id="restart-button" class="restart-button">Novo Jogo</button>
        </div>
    </div>

    <hr class="separator">

    <div class="history-section">
        <h3>Tentativas Anteriores</h3>
        <table id="guesses-table">
            <thead>
                <tr>
                    <th>Letras Erradas (Erros: <span id="erros-count">0</span>/8)</th>
                    <th>Letras Corretas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="incorrect-guesses"></td>
                    <td id="correct-guesses-table"></td>
                </tr>
            </tbody>
        </table>
        <p class="history-hint">* As letras corretas exibidas acima são aquelas que você já adivinhou e que fazem parte da palavra.</p>
    </div>

</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }} 
    <script>
        // Variável global no HTML para o JS acessar o caminho static do Django
        const STATIC_IMAGE_PATH = "{% static 'Echo_app/images/' %}";
    </script>
    <script src="{% static 'Echo_app/js/jogo_da_forca.js' %}?v={% now 'U' %}"></script>
{% endblock %}